VDF.xcodeproj/xcuserdata
VDF.xcodeproj/project.xcworkspace/xcuserdata
VDF/Presentation.tex
VDF/Presentation.synctex.gz
VDF/Presentation.pdf
VDF/Presentation.log
VDF/Presentation.fls
VDF/Presentation.fdb_latexmk
VDF/Presentation.aux
*.o
VDF/VDF
.direnv
.envrc
VDF/VDF_opt
VDF/VDF_over
VDF/VDF_rsa
.DS_Store
VDF.xcodeproj/project.pbxproj
VDF.xcodeproj/project.pbxproj
