
VDF.xcodeproj/project.xcworkspace/xcuserdata/adrian.xcuserdatad/UserInterfaceState.xcuserstate
VDF/Presentation.tex
VDF/Presentation.synctex.gz
VDF/Presentation.pdf
VDF/Presentation.log
VDF/Presentation.fls
VDF/Presentation.fdb_latexmk
VDF/Presentation.aux
VDF.xcodeproj/project.xcworkspace/xcuserdata/adrian.xcuserdatad/UserInterfaceState.xcuserstate
